/* *{background-color: #fff;} */
.boxShadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;} */
}

.colorBlue{
    background-color: #19A7CE;

}

.nav-pills {
   
    /* background-color:  #19A7CE; */
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;

    --bs-nav-pills-link-active-bg:  #19A7CE;
}
.nav-link {
    height: 45px;
    /* background-color:  #19A7CE; */
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;

    --bs-nav-pills-link-active-bg:  #19A7CE;
}



.loginButton{
    background-color: #02c0d5;
    color: #fff;
}

.loginButton:hover
{
        background-color: #00e5ff;
        color: #fff;
}
    
.imageLogin{
    padding-left: 10px;
   
}
.imageLogo{
    position: relative;
    display: inline-block;
    max-width: 100px;
   
}
.topic{
    display: inline-block;
   position: absolute;
   margin-left: 100px;
   color:#19A7CE;
}

.mainContainer{
    margin-left: 350px;
    margin-top: 30px;
    
}

.card{
    width: 350px;
    max-height: 350px;
    display: flex;
    box-shadow: rgba(118, 126, 134, 0.2) 0px 8px 24px;
}

.productContainer{
display: grid;
position: relative;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;

  padding: 20px;
}

.firstPageProducts{
 position: absolute;
 background-color: rgb(255, 255, 255);
}

.secondPageProducts{
 position: absolute;
 padding: 20px;
 background-color: rgb(245, 245, 245);
 z-index: 100;
 border-radius: 10px;
 /* width: 900px; */
}

textarea {
    height: 180px;
}